{% extends 'base.html' %}
{% block title %} Chat {% endblock %}
{% block content %}


    <div class="message_holder">
{% for message in previous_messages %}

        <div class="message {{ 'current-user-sender' if message.sender_user.id == current_user.id else 'other-user-sender' }}">
   <p><b>{{ message.sender_user.username }}</b>: {{ message.message_body }}</p>
        </div>
{% endfor %}
    </div>

    <form action="" method="POST">
      <input type="text" class="username" placeholder="User Name"/>
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit"/>
    </form>

{% endblock %}

{% block javascript %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src={{ url_for('static', filename='js/chat.js') }}></script>

{% endblock %}









