{% extends 'base.html' %}
{% block title %} Chat {% endblock %}


{% block customcss %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

{% endblock %}

{% block content %}


    <div class="container">
        <div class="message_holder col-md-8 offset-md-2">
{% for message in previous_messages %}
        <div class="row">
        <div class="sent-message {{ 'current-user-sender' if message.sender_user.id == current_user.id else 'other-user-sender offset-md-5' }}">
   <p><b>{{ message.sender_user.username }}</b>: {{ message.message_body }}</p>
            </div>
        </div>
{% endfor %}


    </div>
    <form action="" method="POST">
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit"/>
    </form>
    
    </div>

{% endblock %}

{% block javascript %}
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script> const currentUser = {{current_user.id}} </script>
    <script src={{ url_for('static', filename='js/chat.js') }}></script>

{% endblock %}









