{% extends 'base.html' %}
{% block title %} {{ drug.generic_name }} {% endblock %}
{% block content %}

{% block customcss %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

{% endblock %}

<h1> {{ drug.generic_name }} </h1>

<h2>Textbook doses: </h2>
<ul>
    <li>Recommended dose: {{ textbook.recommended }}</li>
    <li>Dose range: {{ textbook.low }}-{{ textbook.high }}mg/kg</li>
    <li>Frequency: q{{ textbook.frequency }} hours</li>
    <li>Duration: {{ textbook.duration }}</li>
    <li>Contraindications: 
        <ul>
        {% for i in textbook.contraindications %}
            <li>{{ i }}</li>
        {% endfor %}
        </ul>
    </li>
    <li>Interactions: </li>
        <ul>
            {% for i in textbook.interactions %}
                <li>{{ i }}</li>
            {% endfor %}
        </ul>
</ul>
<a href="/prescribe-fake-data/{{ textbook.recommended }}/{{ textbook.low }}/{{ textbook.high }}/{{ textbook.frequency }}/{{ textbook.duration }}/{{ drug.generic_name }}">
    Prescribe this dose</a>


<p class="warning"> *** Please note these doses & information are randomly generated for proof of concept only. Do NOT use this in practice. *** </p>

<!--NEED TO PASS THE CURRENT DRUG IN AS AN ARGUMENT TO THIS ROUTE-->
<a href="add-preferred-dose/{{ drug.drug_id }}">Add a preferred dose for {{drug.generic_name}}</a>

<h2>Your preferred doses for {{ drug.generic_name }}: </h2>

<p> Each of these need an edit/del button.</p>

<ul>
{% for dose in saved_doses %}

    <li> Species: {{ dose['species'] }} </li>
    <ul>
        {% if 'condition' in dose %}
        <li> Condition: {{ dose['condition'] }}</li>
        {% endif %}

        {% if 'recommended' in dose %}
            <li> Recommended: {{ dose['recommended'] }}mg/kg </li>
        {% endif %}
            
        {% if 'lower' in dose and 'upper' in dose %}
            <li>Range: {{ dose['lower'] }}-{{ dose['upper'] }}mg/kg  </li>
        {% endif %}

        <a href="/prescribe/{{ dose['dose_id'] }}">Prescribe this dose</a>

        <a href="/delete/{{ dose['dose_id'] }}">Delete saved dose</a>

    </ul>

{% endfor %}

</ul>

{% endblock %}
