{% extends 'base.html' %}
{% block title %} Followers {% endblock %}

{% block customcss %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

{% endblock %}

{% block content %}

<div class="container">
    <div class="col-8 offset-2">
        <h1>Followers of {{ user.fname.title() }} {{ user.lname.title() }} </h1>

    {% for follower in followers %}
    <div class="followee">
        <a href="/profile/{{ follower.id }}">{{ follower.fname.title() }} {{ follower.lname.title() }} </a>
        <p>@{{ follower.username }} - {{'Vet' if follower.user_role == 'vet' else 'Nurse'}}
                {% if follower.user_role == 'vet' %}
                <i class="fas fa-user-md"></i>
                {% else %}
                <i class="fas fa-user-nurse"></i>
                {% endif %}</p>
    </div>
    {% endfor %}
    </div>
</div>


{% endblock %}