{% extends 'base.html' %}
{% block title %} Drugs {% endblock %}
{% block content %}

{% block customcss %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

{% endblock %}

<div class="container">
  <div class="col-8 offset-2">
    <h1>Drugs</h1>

    <input type="text" placeholder="search drugs..." id="search" class="form-control">
    <div id="results"></div>
  </div>
</div>




{% endblock %}

{% block javascript %}

<script src={{ url_for('static', filename='js/trie_search.js') }}></script>

{% endblock %}