{% extends 'base.html' %}
{% block title %} Calculate a dose {% endblock %}
{% block content %}

<h1>Calculate a dose</h1>

<!-- email, age, zipcode, password -->
<form action="/calculate-dose">

    What species is the patient?

    <select name="species">
        {% for species in species_list%}
        <option value="{{ species.species_name }}">{{ species.species_name }}</option>
        {% endfor %}
    </select>

    Patient's weight in kg? <input type="number" name="weight" step="0.01" required> <br>

    What dose do you want to use? (in mg/kg) <input type="number" name="dose" step="0.01" required> <br>

    Are you using liquid or tablets/chews/capsules?<br>

    <input type="radio" name="form" value="liq"> Liquid <br>
    <input type="radio" name="form" value="tab"> Tablet <br>

    If you're using a liquid, what concentration or strenght of tablet are you using? <input type="number" name="concentration" step="0.01"> mg/ml or mg <br>

    If you're using tablets, into how many pieces do you want to divide them? <input type="number" name="divide"> pieces <br>

    How often would you like to give it? q <input type="number" name="frequency" required>hrs <br>

    How long do you want to give it for? <input type="number" name="duration" required> days <br>

    <input type="submit">

</form>

{% endblock %}