{% extends 'base.html' %}
{% block title %} My conversations {% endblock %}
{% block content %}

{% block customcss %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/join_vetcalc.css') }}">

{% endblock %}

<div class="background-image-front-page" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/background{{rand_background}}.jpg');">
</div>

<div class="container">

<div class="row">
   <div class="join-vetcalc">
      <img class="logo" src="/static/logos/logoTransparent.png">
    </div>
</div>

  <div class="row">
    <div class="col-8 offset-2">
      <h1>Join VetCalc today...</h1>
    

      <p><span><i class="fas fa-file-prescription"></i></span> Quickly prescribe with the help of a visual calculator and label generator</p> 
        <p> <span><i class="fas fa-mobile-alt"></i></span>  Text drug labels directly to your clients. No more fading and smudging!</li>
        <p> <span><i class="far fa-save"></i></span>  Save your preferred drug doses</p>
        <p> <span><i class="fas fa-search"></i></span>  Quickly search for textbook drug doses</p>
        <p> <span><i class="fas fa-users"></i></span>  Connect with other veterinarians and nurses</p>
        <p> <span><i class="fas fa-user-md"></i></span>  Save other vet's preferred doses for quick future reference</p>
        <p> <span><i class="fas fa-comment-medical"></i></span>  Message other vets and nurses</p>
      
      <div class="signup-big-button">
        <button data-toggle="modal" data-target="#signup" class="btn btn-primary signup-button">Signup</button>
      </div>
    </div>
  </div>

      
  
  
</div>




<!-- Modals -->
  <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body form-group">
              <form action="/login" method="POST">

                Email: <input type="email" name="email" class="form-control" placeholder="example@domain.com" required> <br>
                Password: <input type="password" name="password" class="form-control" placeholder="Your password" required><br>
                
                <div class="form-check">
                  <input type="checkbox" name="remember" class="form-check-input">
                  <label class="form-check-label" for="remember">Remember me</label>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="signupLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body form-group">
            <form action="/signup" method="POST">

              First name: <input type="text" name="fname" class="form-control" placeholder="First" required> <br>
              Last name: <input type="text" name="lname" class="form-control" placeholder="Last" required> <br>
              Username: <input type="text" name="username" class="form-control" placeholder="username" required> <br>
              Email: <input type="email" name="email" class="form-control" placeholder="email@domain.com" required> <br>
              Password: <input type="password" name="password" class="form-control" placeholder="Should be at least 6 characters" required> <br>
              
              Are you a vet or nurse?
              <div class="form-check">
                <input type="radio" name="user_role" value="vet" class="form-check-input" id="user_role_vet">
                <label class="form-check-label" for="user_role_vet">Vet</label> <br>
                <input type="radio" name="user_role" value="nurse" class="form-check-input" id="user_role_nurse">
                <label class="form-check-label" for="user_role_nurse">Nurse</label>
              </div>
            </div>
          
          
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
          </form>
          </div>
        </div>
      </div>

{% endblock %}