{% extends 'base.html' %}
{% block title %} {{ user.fname }} {{ user.lname }} {% endblock %}
{% block content %}

<h1> {{ user.fname }} {{ user.lname }} </h1>

<form action="/follow/{{ user.id }}" method="POST">
<input type="submit" value="follow"></form>
<form action="/unfollow/{{ user.id }}" method="POST">
<input type="submit" value="unfollow"></form>

<a href="followers/{{ user.id }}">Followers</a>
<a href="following/{{ user.id }}">Following</a>

<a href="chat/{{ user.id }}">Message {{ user.fname }}</a>

<h3>Saved doses: </h3>

<h2>Preferred doses</h2>

<ul>
{% for drug in users_doses %}

    <li><h3>{{ drug }}</h3></li>


    {% for dose in users_doses[drug] %}

    <li> Species: {{ dose['species'] }} </li>
    <ul>
        {% if 'condition' in dose %}
        <li> Condition: {{ dose['condition'] }}</li>
        {% endif %}

        {% if 'recommended' in dose %}
            <li>Recommended: {{ dose['recommended'] }}mg/kg </li>
        {% endif %}

        {% if 'lower' in dose and 'upper' in dose %}
            <li>Range: {{ dose['lower'] }}-{{ dose['upper'] }}mg/kg  </li>
        {% endif %}

    <a href="/fork/{{ dose['dose_id'] }}">Save this to your doses</a>

    </ul>
    {% endfor %}
{% endfor %}

</ul>


{% endblock %}