{% extends 'base.html' %}
{% block title %} {{ user.fname }} {{ user.lname }} {% endblock %}
{% block content %}

<h1> {{ user.fname }} {{ user.lname }} </h1>

<h3>Saved doses: </h3>

<h2>Preferred doses</h2>

<ul>
{% for drug in users_doses %}

    <li><h3>{{ drug }}</h3></li>


    {% for dose in users_doses[drug] %}

    <li> Species: {{ dose['species'] }} </li>
    <ul>
        {% if 'condition' in dose %}
        <li> Condition: {{ dose['condition'] }}</li>
        {% endif %}

        {% if 'recommended' in dose %}
            <li>Recommended: {{ dose['recommended'] }}mg/kg </li>
        {% endif %}

        {% if 'lower' in dose and 'upper' in dose %}
            <li>Range: {{ dose['lower'] }}-{{ dose['upper'] }}mg/kg  </li>
        {% endif %}

        <a href="/prescribe/{{ dose['dose_id'] }}">Prescribe this dose</a>
        <a href="/delete/{{ dose['dose_id'] }}">Delete saved dose</a>

    </ul>
    {% endfor %}
{% endfor %}

</ul>


{% endblock %}