{% extends 'base.html' %}
{% block title %} Other users {% endblock %}

{% block customcss%}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/1900ec13f5.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

{% endblock %}

{% block content %}


<div class="container">
    <div class="col-8 offset-2">
    
<h1>Other users</h1>

<input type="text" placeholder="search..." id="search" class="form-control">
<div id="results">
<div id="results">
<ul>

{% for user in users_info %}
<!--    Checks if the user id is current-->
    {% if user[4] != current %}
    <div id="{{ user[0] }}" data-fname="{{ user[1].lower() }}" data-lname="{{ user[2].lower() }}" class="show hide user-name other-users-list">
        <div class="profile-image-other-users-list" style="background-image:url({{ user[3] }})">
            <!-- <img src="{{ user[3] }}" /> -->
        </div>
        <div class="user-info-other-users-list">
            <a href="/profile/{{ user[4] }}">{{ user[1].title() }} {{ user[2].title() }}</a>
            <p>@{{ user[0] }} - {{'Vet' if user[5] == 'vet' else 'Nurse'}}
            {% if user[5] == 'vet' %}
            <i class="fas fa-user-md"></i>
            {% else %}
            <i class="fas fa-user-nurse"></i>
            {% endif %}</p>
         </div>

    </div>
    {% endif %}

{% endfor %}

</ul>
</div>
</div>
</div>
{% endblock %}

{% block javascript %}

<script> const users = {{ users_info | safe }} </script>
<script src={{ url_for('static', filename='js/other_users.js') }}></script>

{% endblock %}