{% extends 'base.html' %}
{% block title %} VetCalc {% endblock %}


{% block content %}

<h1>pick your dosage preferences</h1>


<form action="/dosing-info">
What drug?
<select name="drug">
    {% for drug in info['drugs'] %}
        <option value="{{ drug.drug_id }}">{{ drug.generic_name }}</option>
    {%  endfor %}
</select>

<br>

What species are you treating?
<select name="species">
    {% for species in info['species_groups'] %}
        <option value="{{ species.species_individual_id }}">{{ species.species_name }}</option>
    {%  endfor %}
</select>

<br>

Is there a specific condition you're treating?
<select name="condition">
    {% for condition in info['conditions'] %}
        <option value="{{ condition.condition_id }}">{{ condition.condition }}</option>
    {%  endfor %}
</select>

<br>

    <input type="submit">

    </form>

{% endblock %}