{% extends 'base.html' %}
{% block title %} Calculate a dose {% endblock %}

{% block customcss %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/rangeslider.css') }}">
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles/dose_form.css') }} />

 <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://kit.fontawesome.com/1900ec13f5.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="main.css">

{% endblock %}

{% block content %}


<div class="col-md-8 offset-md-2 main-container">
    <div id="root"></div>
</div>

{% endblock %}

{% block javascript %}

    <script>
    const jinja = {
            drug : '{{ dose.drug.generic_name or "undefined" }}',
            lowerDose : {{ dose.dose_lower or "undefined" }},
            upperDose : {{ dose.dose_upper or "undefined" }},
            recommended : {{ dose.recommended_dose or "undefined" }},
            frequency : {{ dose.frequency_hrs or "undefined" }},
            duration : {{ dose.duration_days or "undefined" }},
        }
    </script>


    <script src={{ url_for('static', filename='dist/dose_form.js') }} ></script>

{% endblock %}