{% extends 'base.html' %} {% block title %} Signup {% endblock %} 

{% block customcss%}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/1900ec13f5.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/profile.css') }}">


{% endblock %}

{% block content %}

<div class="container">
    <div class="col-10 offset-1">
  <div class="row">
    <div class="col-md-6">
      <div class="profile-pic">
        <img src="{{ url }}" alt="Profile picture" />
      </div>
    </div>
    <div class="col-md-6">
        <h1>{{ fname.title() }} {{ lname.title() }}</h1>
        <p> @{{ user.username }}
        - {{ "DVM" if user.user_role == 'vet' else "Vet nurse" }}
        {% if user.user_role == 'vet' %}
            <i class="fas fa-user-md"></i>
        {% else %}
        <i class="fas fa-user-nurse"></i>
        {% endif %}
        </p>
        
        <div class="row">
        <form action="/profile/following/{{ user.id }}">
            <button class="btn btn-secondary follow-buttons" type="submit" id="following"> Following ({{ following }})</button>
        </form>
        <form action="/profile/followers/{{ user.id }}">
            <button class="btn btn-secondary follow-buttons" type="submit" id="followers"> Followers ({{ followers }})</button>
        </form>
        <button type="button" class="btn btn-primary follow-buttons" data-toggle="modal" data-target="#addPic">
            <i class="fas fa-image"></i> Upload Image
          </button>
        </div>
       
    </div>

  </div>
  
  <!-- Modal for image upload -->
  <div class="modal fade" id="addPic" tabindex="-1" role="dialog" aria-labelledby="addPicLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Upload a profile picture</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body form-group">
            
              <form action="/add-pic" method="POST" enctype="multipart/form-data">

                <input type="file" name="profile_pic" accept="image/jpeg">
            
        
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
      
      </form>
      </div>
    </div>
  </div>

<!-- End modal -->


   
<input type="text" placeholder="Search drugs..." id="search" class="form-control">
<div id="results">

  <div class="row">
    <h2 class="drug-heading">My preferred doses</h2>
  </div>
  
  <div class="row">
      
      {% for drug in users_doses %}
    <div id="{{ drug.lower() }}" class="hide show drug-name col-md-6">
        <h3>{{ drug }}</h3>
      {% for dose in users_doses[drug] %}
    <ul>
      <li>Species: {{ dose["species"] }}</li>
      <ul>
        {% if 'condition' in dose %}
        <li>Condition: {{ dose["condition"] }}</li>
        {% endif %} {% if 'recommended' in dose %}
        <li>Recommended: {{ dose["recommended"] }}mg/kg</li>
        {% endif %} {% if 'lower' in dose and 'upper' in dose %}
        <li>Range: {{ dose["lower"] }}-{{ dose["upper"] }}mg/kg</li>
        {% endif %}

        <a href="/prescribe/{{ dose['dose_id'] }}" class="prescribe"><i class="fas fa-prescription-bottle-alt"></i> Prescribe </a>
        <a href="/delete/{{ dose['dose_id'] }}" class="prescribe"><i class="fas fa-trash-alt"></i> Delete</a>
      </ul>
      </ul>
      {% endfor %} 
    </div>
      {% endfor %}
    
  </div>

  <div class="row">

    <h2 class="drug-heading">Doses saved from others</h2>

    </div>
    <div class="row">

    
      {% for drug in forked_doses %}
      <div id="{{ drug.lower() }}" class="hide show drug-name col-md-6">
      
        <h3>{{ drug }}</h3>
      
      <ul>
      {% for dose in forked_doses[drug] %}

      <li>Species: {{ dose["species"] }}</li>
      <ul>
        {% if 'condition' in dose %}
        <li>Condition: {{ dose["condition"] }}</li>
        {% endif %} {% if 'recommended' in dose %}
        <li>Recommended: {{ dose["recommended"] }}mg/kg</li>
        {% endif %} {% if 'lower' in dose and 'upper' in dose %}
        <li>Range: {{ dose["lower"] }}-{{ dose["upper"] }}mg/kg</li>
        {% endif %}

        <li>Saved from <a href="/profile/{{ dose["creator_id"] }}">{{ (dose["creator"]).title() }}</a></li>
      </ul>
      {% endfor %} 
    </div>
      {% endfor %}
    </ul>
  </div>
</div>
</div>
</div>

{% endblock %}

{% block javascript %}

<script>
    let drugs = {{ drugs|safe }}

</script>

<script src={{ url_for('static', filename='js/profile.js') }}></script>

{% endblock %}
