{% extends 'base.html' %} {% block title %} Signup {% endblock %} {% with
messages = get_flashed_messages() %} {% if messages %}
<ul class="flashes">
  {% for message in messages %}
  <p>{{ message }}</p>
  {% endfor %}
</ul>
{% endif %} {% endwith %} 

{% block customcss%}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/1900ec13f5.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">


{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img src="{{ url }}" alt="Profile picture" />
    </div>
    <div class="col-sm-6">
        <h1>{{ fname.title() }} {{ lname.title() }}</h1>
        <p> @{{ user.username }} </p>
        <p> {{ "DVM" if user.user_role == 'vet' else "Vet nurse" }}
        {% if user.user_role == 'vet' %}
            <i class="fas fa-user-md"></i>
        {% else %}
        <i class="fas fa-user-nurse"></i>
        {% endif %}
        </p>
        
        <form action="/profile/following/{{ user.id }}">
            <button type="submit" id="following"> Following ({{ following }})</button>
        </form>
        <form action="/profile/followers/{{ user.id }}">
            <button type="submit" id="followers"> Followers ({{ followers }})</button>
        </form>
    </div>

  </div>
  <a href="/add-pic">Upload a profile pic</a>

    Search drugs:
<input type="text" placeholder="search..." id="search">
<div id="results">

  <div class="row">
    <h2>My preferred doses</h2>
  </div>
  <div class="row">
      {% for drug in users_doses %}
    <div id="{{ drug.lower() }}" class="hide show drug-name">
        <h3>{{ drug }}</h3>
      {% for dose in users_doses[drug] %}
    <ul>
      <li>Species: {{ dose["species"] }}</li>
      <ul>
        {% if 'condition' in dose %}
        <li>Condition: {{ dose["condition"] }}</li>
        {% endif %} {% if 'recommended' in dose %}
        <li>Recommended: {{ dose["recommended"] }}mg/kg</li>
        {% endif %} {% if 'lower' in dose and 'upper' in dose %}
        <li>Range: {{ dose["lower"] }}-{{ dose["upper"] }}mg/kg</li>
        {% endif %}

        <a href="/prescribe/{{ dose['dose_id'] }}">Prescribe this dose</a>
        <a href="/delete/{{ dose['dose_id'] }}">Delete saved dose</a>
      </ul>
      </ul>
      {% endfor %} 
    </div>
      {% endfor %}
    
  </div>
  <div class="row">

    <h2>Doses saved from others</h2>

    </div>
    <div class="row">

    <ul>
      {% for drug in forked_doses %}
      <div id="{{ drug.lower() }}" class="hide show drug-name">
      <li>
        <h3>{{ drug }}</h3>
      </li>

      {% for dose in forked_doses[drug] %}

      <li>Species: {{ dose["species"] }}</li>
      <ul>
        {% if 'condition' in dose %}
        <li>Condition: {{ dose["condition"] }}</li>
        {% endif %} {% if 'recommended' in dose %}
        <li>Recommended: {{ dose["recommended"] }}mg/kg</li>
        {% endif %} {% if 'lower' in dose and 'upper' in dose %}
        <li>Range: {{ dose["lower"] }}-{{ dose["upper"] }}mg/kg</li>
        {% endif %}

        <li>Forked from {{ dose["creator"] }}</li>
      </ul>
      {% endfor %} 
    </div>
      {% endfor %}
    </ul>
  </div>
</div>
</div>

{% endblock %}

{% block javascript %}

<script>
    let drugs = {{ drugs|safe }}

</script>

<script src={{ url_for('static', filename='js/profile.js') }}></script>

{% endblock %}
