{% extends 'base.html' %}
{% block title %} Signup {% endblock %}

 {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% block content %}

Hello {{ fname }} {{ lname }}!

<h2>Favourite drugs</h2>

<h2>Preferred doses</h2>

<ul>
{% for drug in users_doses %}

    <li><h3>{{ drug }}</h3></li>


    {% for dose in users_doses[drug] %}

    <li> Species: {{ dose['species'] }} </li>
    <ul>
        {% if 'condition' in dose %}
        <li> Condition: {{ dose['condition'] }}</li>
        {% endif %}

        {% if 'recommended' in dose %}
            <li> Recommended: {{ dose['recommended'] }}mg/kg </li>
        {% endif %}
            <li>Range: {{ dose['lower'] }}-{{ dose['upper'] }}mg/kg  </li>
        {% if 'lower' in dose and 'upper' in dose %}

        {% endif %}

        <a href="/">Prescribe this dose</a>

    </ul>
    {% endfor %}
{% endfor %}

</ul>
{% endblock %}
