{% extends 'base.html' %}
{% block title %} Add pic {% endblock %}


{% block content %}

 {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<h1>Add a pic to your profile!</h1>

<form action="/signup" method="POST">
    First name: <input type="text" name="fname" required>
    Last name: <input type="text" name="lname" required>
    Username: <input type="text" name="username" required>
    Email: <input type="email" name="email" required> <br>
    Password: <input type="password" name="password" required>

    <input type="submit">

</form>


{% endblock %}