.other-user-sender {
  background-color : rgb(0,166,153, 0.3);
}

.current-user-sender {
  background-color : rgb(118,118,118, 0.3);
}

.sent-message {
  padding : 1%;
  margin : 2%;
  border-radius : 6px
}

.container {
  padding-bottom: 7%;
}

#send {
  margin: 5px;
}

.loader {
  margin-left: 50%;
  color: #FF5A5F;
}

.no-messages {
  color: #FF5A5F;
  text-align: center;

}