h1 {
  color : red;
}

.hide {
  display : none;
}

.show {
  display : block;
}


.root {
    width: 300,
}

.slider {
    padding: '22px 0px',
}

.box {
  height: 5%;
  width : 100%;
  background-color: blue;
}

.box-container {
  transform: rotate(180deg);
  height: 100px;
  width: 40px;
}

.tablet-image-container{
  height : 20%;
  width : 20%;
}

.message {
    color : red;
}

.other-user-sender {
    background-color : green;
}

.current-user-sender {
    background-color : purple;
}
